body{
    background: hsl(210, 29%, 93%);
    display:flex;
      lex-direction:column;
      justify-content:center;
      align-items:center;
      min-height: 100hv;
      box-sizing:border-box;
      margin: 0;
      
}